<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManagerWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  
  <servlet>
  	<description>登录验证</description>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.students.programmer.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>登录后的主界面</description>
  	<servlet-name>SystemServlet</servlet-name>
  	<servlet-class>com.students.programmer.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SystemServlet</servlet-name>
  	<url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>学生信息管理</description>
  	<servlet-name>StudentServlet</servlet-name>
  	<servlet-class>com.students.programmer.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>班级信息管理</description>
  	<servlet-name>ClazzServlet</servlet-name>
  	<servlet-class>com.students.programmer.servlet.ClazzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClazzServlet</servlet-name>
  	<url-pattern>/ClazzServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>教师信息管理</description>
  	<servlet-name>TeacherServlet</servlet-name>
  	<servlet-class>com.students.programmer.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherServlet</servlet-name>
  	<url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  
</web-app>